div#h1 {
  margin: 100px auto 25px auto;
  padding: 0px 15px 5px 0px;
  text-align: center;
  max-width: 600px;
  width: 80%;
  font-size: 40px;
}
b#h1_b_1 {
  font-size: 50px;
}
b#h1_b_2 {
  position: absolute;
  font-size: 50px;
  transition: 1s;
}

main#hallo {
  padding: 15px;
  width: 200px;
  transition: 0.5s;
  overflow: hidden;
}
main#hallo:hover {
  margin-left: 10px;
  transition: 0.25s;
}
p.hi_p {
  position: absolute;
  margin: 2.5px 0px 0px 25px;
}
.hi_div {
  height: 72.37px;
  width: 100px;
  padding: 0px;
  transform: skewX(10deg);
  margin: -12.5px auto 0px auto;
}
.hi_div_l {
  float: left;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}
.hi_div_r {
  float: right;
}
.hi_div_l_d {
  background-color: rgba(255, 255, 255, 0.1);
  height: 72.37px;
  width: 8px;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}

.device {
  width: 200px;
  height: 72.37px;
  margin: 45px 0px 0px 25px;
  transition: 0.5s;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}
.device_p {
  position: absolute;
  margin: 2.5px 0px 0px 25px;
}
.device_l_d {
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  height: 72.37px;
  width: 8px;
  float: left;
}
.device:hover {
  margin-left: 10px;
  transition: 0.25s;
  background-color: rgba(0, 0, 0, 0.25);
}
.device_CE {
  width: 191.75px;
  height: 72.37px;
  margin: 0px 0px 5px 8px;
  transition: 0.5s;
}
.device_PC {
  margin-top: 56.25px;
}
.device_PC:hover {
  margin-left: 20px;
  transition: 0.25s;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
}
.device_PE:hover {
  margin-left: 20px;
  transition: 0.25s;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
}
p {
  margin: 0px;
}
.m-w_1 {
  display: none;
}
@media screen and (max-width: 675px) {
  .m-w_1 {
    display: block;
  }
  #h1_b_2 {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  #h1_b_1 {
    font-size: 30px;
  }
}
@media screen and (max-height: 625px) {
  body {
    overflow: scroll;
  }
}

#div {
  width: 100%;
  max-width: 625px;
  margin: 0px auto 0px auto;
}
