body {
  overflow: hidden;
}

main#background {
  background: linear-gradient(0deg, rgb(76, 76, 76), rgb(53, 53, 53));
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -5;
}

div#h1 {
  margin: 0px auto 25px auto;
  padding: 0px 15px 5px 0px;
  text-align: center;
  max-width: 600px;
  width: 80%;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(150, 150, 150);
}
b#h1_b_1 {
  font-size: 50px;
}
b#h1_b_2 {
  position: absolute;
  font-size: 50px;
}

main#hallo {
  padding: 15px;
  width: 200px;
  transition: 0.5s;
}
main#hallo:hover {
  margin-left: 10px;
  transition: 0.25s;
}
p.hi_p {
  position: absolute;
  margin: 2.5px 0px 0px 25px;
  color: rgb(190, 190, 190);
}
.hi_div {
  background-color: rgba(0, 0, 0, 0.2);
  height: 72.37px;
  width: 100px;
  padding: 0px;
  transform: skewX(10deg);
  margin: -12.5px auto 0px auto;
}
.hi_div_l {
  float: left;
}
.hi_div_r {
  float: right;
}
.hi_div_l_d {
  background-color: rgba(0, 0, 0, 0.2);
  height: 72.37px;
  width: 8px;
}

.device {
  background-color: rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 72.37px;
  margin: 45px 0px 0px 25px;
  transition: 0.5s;
  color: rgb(190, 190, 190);
}
.device_p {
  position: absolute;
  margin: 2.5px 0px 0px 25px;
}
.device_l_d {
  background-color: rgba(0, 0, 0, 0.2);
  height: 72.37px;
  width: 8px;
  float: left;
}
.device:hover {
  margin-left: 40px;
  transition: 0.25s;
  background-color: rgba(0, 0, 0, 0.25);
}
.device_CE {
  background-color: rgba(0, 0, 0, 0.2);
  width: 191.75px;
  height: 72.37px;
  margin: 0px 0px 0px 8px;
  transition: 0.5s;
  color: rgb(190, 190, 190);
  box-shadow: -2px 0px 0px rgba(0, 0, 0, 0.4);
}
.device_PC {
  margin-top: 51.25px;
}
.device_PC:hover {
  margin-left: 20px;
  transition: 0.25s;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
}
.device_PE:hover {
  margin-left: 20px;
  transition: 0.25s;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
}
p {
  margin: 0px;
}
.m-w_1 {
  display: none;
}
@media screen and (max-width: 675px) {
  .m-w_1 {
    display: block;
  }
  #h1_b_2 {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  #h1_b_1 {
    font-size: 30px;
  }
}
