body {
  overflow: hidden;
}

#background {
  background-color: rgb(45, 45, 45);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  overflow: hidden;
  z-index: -5;
}
#background:hover {
  background-color: rgb(45, 45, 45);
}

iframe {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.rgba {
  background-color: rgba(0, 0, 0, 0.2);
}

.c190 {
  color: rgb(190, 190, 190);
}

.c150 {
  color: rgb(150, 150, 150);
}

p,b{
  margin: 0px;
}

* {
  user-select: none;
}