body {
  background-color: rgba(0, 0, 0, 0);
}

#introduction_html {
  transition: 1s;
}
@media screen and (min-width: 500px) {
  #introduction_html {
    padding-top: 10px;
    padding-left: 50px;
    transition: 1s;
  }
}
